<h1>Hi, my good Ruby!</h1>
<p>Enter your login and password </p>

<form action="/admin" method="POST">
	Login: <br>
	<input type="text" name="login"> <br>
	
	Password: <br>
	<input type="text" name="password"> <br>

	<input type="submit">
</form>
