<h2>Контакты</h2>	
<p>Мы находимся на крыше мира</p>

<form action="/contacts" method="POST">
	
	<div class="form-group">
	    <label >Email</label>
	    <input name="mail" type="text" class="form-control" placeholder="Введите Ваш email">
	</div>

    <p><b>Введите ваш отзыв:</b></p>
    <p><textarea rows="10" cols="45" name="text" placeholder="Ваш отзыв тут ...!"></textarea></p>
    <p><input type="submit" class="btn btn-primary" value="Отправить"></p>
</form>
